@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    @include flex(normal, normal, column);
    gap: 1.5rem;
    padding: 2rem;

    @media (max-width: $md) {
        padding: 2rem 1rem;
    }

    .pagination {
        //FIXME: for now because there is two steps
        // width: calc(100% / 3);
        width: calc(100% / 2);

        @media (max-width: $md) {
            width: 100%;
        }
    }

    .content {
        min-height: calc(100vh - 17.85rem);
        padding-top: 1.25rem;

        @media (max-width: $md) {
            height: 100%;
        }
    }

    .buttons {
        @include flex(normal, center);
        align-self: flex-end;
        gap: 0.75rem;
    }
}
