@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.content {
    padding: 0 1.5rem 0.5rem;
    @include flex(normal, stretch, column);
    gap: 1rem;
}

.footer {
    width: 100%;
    @include flex(normal, stretch, column);
    gap: 0.75rem;
    padding: 1.5rem;

    @media (max-width: $md) {
        padding: 1rem;
    }
}
