@import 'src/styles/constants/_primitives.scss';

.modal {
    width: 100%;
    display: flex;
    flex-direction: column;

    &__content {
        padding: 2rem 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__medium {
        font-size: 14px;
        font-weight: 500;
        color: $color-grey-900;
        line-height: 20px;
        text-align: center;
    }

    &__semibold {
        font-size: 16px;
        font-weight: 600;
        color: $color-grey-900;
        line-height: 14px;
        text-align: center;
    }

    &__regular {
        font-size: 14px;
        font-weight: 400;
        color: $color-grey-600;
        line-height: 20px;
        text-align: center;
    }

    &__qr {
        width: fit-content;
        margin: auto;
    }

    &__footer {
        padding: 1.5rem;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    &__download {
        width: fit-content;
        margin: auto;
        display: flex;
        gap: 1rem;
    }
}
