@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    @include flex(normal, normal, column);
    gap: 1.5rem;

    .header {
        font-size: 30px;
        font-weight: 600;
        line-height: 38px;
        color: $color-grey-900;
    }

    .row {
        @include flex(normal, flex-start);
        gap: 2rem;

        @media (max-width: $md) {
            flex-direction: column;
        }

        &__left {
            @include flex(normal, normal, column);
            flex: 25%;
            font-size: 14px;
            font-weight: 600;
            color: $color-grey-700;
            line-height: 20px;

            @media (max-width: $lg) {
                flex: 20%;
            }

            @media (max-width: $md) {
                flex: 1;
                width: 100%;
            }
        }

        &__subtitle {
            font-weight: 400;
            color: $color-grey-600;
        }

        &__right {
            @include flex(normal, flex-start, column);
            gap: 0.5rem;
            flex: 50%;
            min-width: 32rem;

            @media (max-width: $lg) {
                flex: 60%;
                min-width: 20rem;
            }

            @media (max-width: $md) {
                flex: 1;
                width: 100%;
            }
        }

        .preview {
            padding: 2rem;
            background-color: $color-grey-50;
            box-shadow: $shadow-xs;
            border-radius: $radius-md;

            @media (max-width: $md) {
                padding: 1rem;
            }

            &__content {
                width: 100%;
                @include flex(normal, stretch, column);
                gap: 2rem;
                background-color: $color-white;
                border-radius: $radius-md;
                padding: 0 1.5rem;
            }

            &__logo {
                @include flex(center, center);
                padding: 1.5rem 0;
            }

            &__header {
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                color: $color-grey-900;
            }

            &__message {
                margin-top: -0.5rem;
                white-space: pre-wrap;
                font-size: 16px;
                line-height: 24px;
                color: $color-grey-600;
            }

            &__table {
                @include flex(normal, stretch, column);
                border: 1px solid $color-grey-200;
                border-radius: $radius-md;
            }

            &__detail {
                @include flex(normal, stretch, column);
                padding: 1rem 1.5rem;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: $color-grey-900;

                & + .preview__detail {
                    border-top: 1px solid $color-grey-200;
                }

                &--lighter {
                    font-weight: 400;
                    color: $color-grey-600;
                }
            }

            &__claim {
                @include flex(normal, flex-start, column);
                gap: 0.75rem;
                font-size: 14px;
                font-weight: 500;
                line-height: 20px;
                color: $color-grey-900;
            }

            &__button {
                align-self: center;
                pointer-events: none;
            }

            &__subtitle {
                padding: 2rem 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px;
                color: $color-grey-600;
            }
        }
    }
}
