@import 'src/styles/constants/_primitives.scss';

.container {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1.5rem;
    width: fit-content;
    background-image: linear-gradient(to bottom left, $color-grey-200 10%, $color-white 90%);

    @media (max-width: $md) {
        width: 100vw;
        left: 0;
        padding: 5rem 0.5rem 1rem 0.5rem;
        background-image: linear-gradient($color-white, $color-grey-200);
    }

    .notification {
        border: 1px solid $color-grey-400;
        border-radius: $radius-xl;
        background-color: $color-white;
        display: flex;
        justify-content: space-between;

        &__message {
            padding: 1rem;
            display: flex;
            gap: 1rem;
            flex-grow: 1;

            @media (max-width: $md) {
                flex-direction: column;
            }
        }

        &__title {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: $color-grey-900;
        }

        &__close {
            border: none;
            padding: 0.5rem;
            cursor: pointer;
        }
    }
}
