@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    @include flex(normal, normal, column);
    gap: 1.5rem;

    .buttons {
        @include flex(flex-end, center);
        gap: 0.75rem;
    }

    .table {
        @include flex(normal, normal, column);
        border: 1px solid $color-grey-200;
        border-radius: $radius-xl;
        box-shadow: $shadow-sm;
        overflow: hidden;

        .header {
            border-bottom: 1px solid $color-grey-200;
            border-radius: $radius-xl;
            background-color: $color-grey-50;
            height: 2.75rem;

            &__item {
                color: $color-grey-600;
                font-size: 12px;
                font-weight: 500;
                padding: 0.75rem 1.5rem;
                vertical-align: middle;
            }
        }

        .row {
            cursor: pointer;

            & + .row {
                border-top: 1px solid $color-grey-200;
            }
        }

        .col {
            color: $color-grey-600;
            font-size: 14px;
            font-weight: 400;
            padding: 1.5rem;
            vertical-align: middle;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 11.25rem;

            &--darker {
                font-weight: 500;
                color: $color-grey-900;
            }

            &__btn {
                font-size: 0.875rem;
                font-weight: 500;
                height: 2.5rem !important;
                padding-top: 0 !important;
                padding-bottom: 0 !important;
                display: flex;
                gap: 0.25rem;
            }
        }

        &__pagination {
            border-top: 1px solid $color-grey-200;
            border-radius: 0;
            padding: 0.75rem 1.5rem;
        }
    }
}
