@import 'src/styles/utilities/_mixins.scss';
@import 'src/styles/constants/_primitives.scss';

.container {
    min-width: 20rem;
    @include flex(normal, center);
    flex-wrap: nowrap;
    padding: 0.5rem;
    background-color: $color-white;
    box-shadow: $shadow-lg;
    border: 1px solid $color-grey-300;
    border-radius: $radius-xl;

    @media (max-width: $md) {
        padding: 1rem;
    }

    :global(.MuiSnackbarContent-message) {
        padding: 0;
    }

    &--primary {
        background-color: $color-primary-25;
        border-color: $color-primary-300;
    }

    &--gray {
        background-color: $color-grey-25;
        border-color: $color-grey-300;
    }

    &--error {
        background-color: $color-error-25;
        border-color: $color-error-300;
    }

    &--warning {
        background-color: $color-warning-25;
        border-color: $color-warning-300;
    }

    &--success {
        background-color: $color-success-25;
        border-color: $color-success-300;
    }
}

.content {
    @include flex(normal, center);
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $color-grey-900;

    &--primary {
        color: $color-primary-700;
    }

    &--gray {
        color: $color-grey-700;
    }

    &--error {
        color: $color-error-700;
    }

    &--warning {
        color: $color-warning-700;
    }

    &--success {
        color: $color-success-700;
    }
}

.close {
    margin-right: 0;

    &:hover {
        background-color: transparent;
    }
}
